{% extends 'recycler.html.twig' %}

{% block title %}Hello TechnologiesController!{% endblock %}

{% block recycler_name %}Technologies{% endblock %}
{% block recycler_subName %} Upgrade your Technologies {% endblock %}
{% block recycler_explenation %} here you can upgrade your technologies, that can have a big effect on your build or unites {% endblock %}

{% block body %}
    {% for techno in technoOwned %}
        <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
            <div class="card-header">{{ techno.type.name }}</div>
            <div class="card-body">
                <p class="card-title">{{ techno.type.description }}</p>
                <p class="card-text">dmg : {{ techno.type.damagePerLevel }} | gold : {{ techno.type.goldBoostPerLevel }} </p>
            </div>

            {# {% if stats.actualUpgradeTime %}
            {% else %}
            {% endif %} #}
            {% block javascripts %}
                <script type="text/javascript">
                    {# console.log( {{ techno.startupgrade }} ); #}
                </script>
            {% endblock %}

            <div class="progress m-3">
                <div
                    class="progress-bar progress-bar-striped progress-bar-animated" 
                    role="progressbar" 
                    aria-valuenow="75" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                    {% set diffUpgrade = date(techno.startupgrade).diff(date(techno.endupgrade)) %}
                    {% set myDiffUpgrade = date(techno.startupgrade).diff(date()) %}
                    {% set diffUpgradeStamp = (diffUpgrade.s * 100 / 60) + (diffUpgrade.i * 100 / 60) * 100 + (diffUpgrade.h * 100 / 60) * 10000 %}
                    {% set myDiffUpgradeStamp = (myDiffUpgrade.s * 100 / 60) + (myDiffUpgrade.i * 100 / 60) * 100 + (myDiffUpgrade.h * 100 / 60) * 10000 %}
                    style="width: 10%;"
                ></div>
            </div>
            {{ dump(techno.startupgrade) }}
            {{ dump(techno.endupgrade) }}
            {{ dump(diffUpgradeStamp) }}
            {{ dump(myDiffUpgradeStamp) }}

            <div class="m-3">
                <form action="{{ path('technologies') }}" method="post">
                    <input name="type" value="{{ techno.type.id }}" style="display: none;">
                    <button type="submit" class="btn btn-success">Upgrade</button>
                    <p class="card-text">{{ techno.type.price }}$</p>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
