{% extends 'recycler.html.twig' %}

{% block title %}Hello TechnologiesController!{% endblock %}

{% block recycler_name %}Building{% endblock %}
{% block recycler_subName %} Buy some Building {% endblock %}
{% block recycler_explenation %} here you can buy building and get more resources {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        if (window.history.replaceState) {
            window.history.replaceState( null, null, window.location.href );
        }
        function addWidthProgressBar(name, diffUpgrade, myDiffUpgrade) {
            let diffUpgradeStamp = (diffUpgrade.s * 100 / 60) + (diffUpgrade.i * 100 / 60) * 100 + (diffUpgrade.h * 100 / 60) * 10000;
            let myDiffUpgradeStamp = (myDiffUpgrade.s * 100 / 60) + (myDiffUpgrade.i * 100 / 60) * 100 + (myDiffUpgrade.h * 100 / 60) * 10000;
            let progressBar = document.getElementById('progress_bar_' + name);
            let width = 0;

            setInterval(() => {
                width = myDiffUpgradeStamp * 100 / diffUpgradeStamp;
                progressBar.style = 'width: ' + width + '%;'

                if (width > 99) {
                    location.reload();
                }

                myDiffUpgradeStamp++;
            }, 1000);
        }
    </script>
{% endblock %}

{% block body %}
    {% for buildings in allBuilding %}
      {% set categoryIndex = loop.index - 1 %}
        <div class="card text-white bg-primary mb-3 p-3">
          <h1> {{ category[categoryIndex] }} </h1>
          <div style="flex-wrap: wrap; display: flex;">
              {% for building in buildings %}
                {% set myBuilding = null %}
                {% set isBuy = 0 %}

                {% for buildingOwned in buildingsOwned %}
                    {% if buildingOwned.type.id == building.id %}
                        {% set isBuy = isBuy + 1 %}
                        {% set myBuilding = buildingOwned %}
                    {% endif %}
                {% endfor %}

                <div class="card mb-3" style="margin: 0 auto; width: 20rem;">
                  <div class="card-header" style="text-align: center;"> {{building.name}} </div>
                  <img src={{ building.image }}>
                  <div class="card-body">
                    <p class="card-title">Stats:</p>
                    <div>
                        {% if myBuilding %}
                          <p class="text-muted"> lvl : {{myBuilding.level}} |  hp : {{building.hp}}</p>
                        {% endif %}
                        {% if category[categoryIndex] == "gold"%}
                          <p class="text-muted">gold production : {{building.goldPerHour}}</p>
                        {% elseif category[categoryIndex] == "damage"%}
                          <p class="text-muted">damage : {{building.damage}}</p>
                        {% else %}
                          <p class="text-muted">unite production : {{building.unitesPerHour}}</p>
                        {% endif %}
                    </div>
                  </div>
                  <div class="card-body">
                    {% if isBuy %}
                      <p class="card-text">Owned: {{isBuy}}</br>Price: {{ building.price }}$</p>
                    {% else %}
                      <p class="card-text">Price: {{ building.price }}$</p>
                    {% endif %}
                    {% if myBuilding.upgrading is defined and myBuilding.upgrading %}
                    {% else %}
                      <div style="display: flex; justify-content: space-between;">
                        <form action="{{ path('build_buy') }}" method="post">
                            <input name="buy" value="{{ building.id }}" style="display: none;">
                            <button type="submit" class="btn btn-sm btn-success">Buy</button>
                        </form>
                        {% if isBuy %}
                            <form action="{{ path('build_buy') }}" method="post">
                                <input name="upgrade" value="{{ building.id }}" style="display: none;">
                                <button type="submit" class="btn btn-sm btn-success">Upgrade</button>
                            </form>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    {{ building.upgradeTime }} Secondes
                    <div class="progress">
                        <div
                            id="progress_bar_{{ building.id }}"
                            class="progress-bar progress-bar-striped progress-bar-animated"
                            role="progressbar"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width:0%;" ></div>
                        {% if isBuy and myBuilding.upgrading %}
                            <script type="text/javascript">
                                name = {{ myBuilding.type.id | json_encode() | raw }};
                                diffUpgrade = {{ date(myBuilding.startupgrade).diff(date(myBuilding.endupgrade)) | json_encode() | raw }};
                                myDiffUpgrade = {{ date(myBuilding.startupgrade).diff(date('now')) | json_encode() | raw }};
                                addWidthProgressBar(name, diffUpgrade, myDiffUpgrade);
                            </script>
                        {% endif %}
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
{% endblock %}
