{% extends 'recycler.html.twig' %}

{% block title %}Hello TechnologiesController!{% endblock %}

{% block recycler_name %}Building{% endblock %}
{% block recycler_subName %} Buy some Building {% endblock %}
{% block recycler_explenation %} here you can buy building and get more resources {% endblock %}


{% block body %}
    {% for BuildingsStats in AllBuildingsStats %}
        <div class="card text-white bg-primary mb-3 p-3" style="max-width: 70rem;">
            <h1> categorie name </h1>
            {% for stats in BuildingsStats %}
                <table class="table table-hover">
                    <tr class="table-secondary">
                        <th>
                            <img style="width: 100px;" src={{stats.img}}>
                        </th>
                        <th scope="row">{{ stats.name }}</th>
                        <td>{{stats.explaine}}</td>
                        <td>{{stats.explaineStats}}</td>
                        <td>
                            {% if not stats.actualUpgradeTime %}
                                <div>
                                    <button type="button" class="btn btn-sm btn-success">+1</button>
                                </div>
                            {% else %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{ stats.actualUpgradeTime / stats.upgradeTime * 100 }}%;"></div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
