{% extends 'base.html.twig' %}
{% block title %}
    Log In!
{% endblock %}

{% block body %}
<style>

</style>

    {{ form_start(createLoginForm, {
        'attr' : {
            'class' : 'form-content',
            'id' : 'login-form'
        }
    }) }}
    <div class="form-group" id="email">
        {{ form_label(createLoginForm.Email) }}
        {{ form_widget(createLoginForm.Email) }}
    </div>
    <div class="form-group" id="pwd">
        {{ form_label(createLoginForm.Password) }}
        {{ form_widget(createLoginForm.Password) }}
    </div>
    <div class="form-group container-align-button", id="button-group">
        {{ form_widget(createLoginForm.confirmer) }}
        {{ form_widget(createLoginForm.reset) }}
    </div>
    {{ form_end(createLoginForm) }}
{% endblock %}