{% extends 'recycler.html.twig' %}

{% block title %}
    Game!
{% endblock %}

{% block recycler_name %}Planets{% endblock %}
{% block recycler_subName %}List of planets{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        if (window.history.replaceState) {
            window.history.replaceState( null, null, window.location.href );
        }
        function lunchAtk(PlayerID, planetID, planetLvl, planetDistance) {
            let unitNbr = document.getElementById('unit-slider').value;
            let successRate = (5 - planetLvl) * 20 + (unitNbr*2);
            let startTime = ~~(+new Date() / 1000);
            console.log(planetID);
            console.log(successRate);
            console.log(startTime);
            console.log(planetDistance);

        }
    </script>
{% endblock %}

{% block body %}
    <style>
        .dot {
            background-color: forestgreen;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
    </style>

    <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
        <div class="card-body">
        <p class="unit-count card-text">
            Units available: {{ unitAmount }}
        </p>
    </div>
    </div>
    {% for planet in planetList %}
    <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
        <div class="card-body">
            <p class="planet-listing card-text">

                    <div class="planet">
                        <span class="dot"></span>
                        Name: {{ planet.getName() }}<br>
                        Defense level: {{ planet.getDefenseLvl() }}<br>
                        Distance: {{ planet.getDistance() }}<br>
                        Is under attack:
                        {% if planet.isUnderAtk() == true %}
                            Yes<br>
                        {% else %}
                            No<br>
                            <form action="{{ path('attack_page') }}" method="post">
                                <input type="range" id="unit-slider" name="Units" value="1" min="1" max="{{ unitAmount }}" oninput="this.nextElementSibling.value = this.value">
                                <output>1</output><br>
                                <input type="hidden" id="planetID" name="planetID" value="{{ planet.getId }}">
                                <button class="btn btn-success" id="lunch-atk-btn">Attack!</button>
                            </form>
                        {% endif %}
                    </div>

            </p>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}