{% extends 'recycler.html.twig' %}

{% block title %}
    Game!
{% endblock %}

{% block recycler_name %}Planets{% endblock %}
{% block recycler_subName %}List of planets{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        if (window.history.replaceState) {
            window.history.replaceState( null, null, window.location.href );
        }

        function getRandomColor(id) {

            let letters = '0123456789ABCDEF';
            let randomColor = '#' ;
            for (let i = 0; i < 6; i++) {
                randomColor += letters[Math.floor(Math.random() * 16)];
            }
            document.getElementById(id).style['background-color'] = randomColor;
        }
    </script>
{% endblock %}

{% block body %}
    <style>
        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
    </style>

    <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
        <div class="card-body">
        <p class="unit-count card-text">
            Units available: <p id="user_unites">{{ user.units }}</p>
        </p>
    </div>
    </div>
    {% for planet in planetList %}
        <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
            <div class="card-body">
                <div class="planet">
                    <span id="color_planet_{{planet.id}}" class="dot"></span>
                    <script type="text/javascript">
                        getRandomColor("color_planet_" + {{planet.id | json_encode() | raw }});
                    </script>
                    <p class="card-text">Name: {{ planet.getName() }}</p>
                    <p class="card-text">Defense level: {{ planet.getDefenseLvl() }}</p>
                    <p class="card-text">Distance: {{ planet.distance() }}</p>
                    {% set distanceFromYou = planet.getDistance() - user.planet.distance() %}
                    <p class="card-text">Distance from you: {{ distanceFromYou < 0 ? distanceFromYou * -1 : distanceFromYou }}</p>
                    {% if planet.id != user.planet.id %}
                        {% set isUnderAtk = false %}
                        {% set UserAtks = null %}
                        {% for UserongoingAtks in user.ongoingAtks %}
                            {% if UserongoingAtks.planetID.id == planet.id %}
                                {% set UserAtks = UserongoingAtks %}
                                {% set isUnderAtk = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isUnderAtk %}
                            <p class="card-text">Is under attack: Yes</p>
                            <div class="progress">
                                <div
                                    id="progress_bar_{{ planet.id }}"
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:0%;" ></div>
                                <script type="text/javascript">
                                    addWidthProgressBar(
                                        {{ planet.id | json_encode() | raw }},
                                        {{ date(UserAtks.start).diff(date(UserAtks.endTime)) | json_encode() | raw }},
                                        {{ date(UserAtks.start).diff(date('now')) | json_encode() | raw }}
                                    );
                                </script>
                            </div>
                        {% else %}
                            <p class="card-text">Is under attack: No</p>
                            <form action="{{ path('attack_page') }}" method="post">
                                <input
                                    type="range"
                                    name="Units"
                                    class="form-range" 
                                    id="unit-slider"
                                    value="0" min="0" max="{{ user.units }}" 
                                    oninput="this.nextElementSibling.value = this.value"
                                >
                                <output>0</output>
                                <input type="hidden" id="planetID" name="planetID" value="{{ planet.id }}">
                                <br>
                                <button type="submit" class="btn btn-success" id="lunch-atk-btn">Attack!</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <p class="mt-3 card-text">Don't attack your planet. It would be disastrous</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}