{% extends 'recycler.html.twig' %}
{% block title %}
    Game!
{% endblock %}

{% block recycler_name %}Resources{% endblock %}
{% block recycler_subName %}Inventory of resources{% endblock %}


{% block body %}
<div>
  <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
    <div class="card-body"/>
      <p class="gold-count card-text">
          Gold: {{ goldAmount }}
      </p>
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
    <div class="card-body"/>
      <p class="unit-count card-text">
          Units: {{ unitAmount }}
      </p>
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
    <div class="card-body">
      <p class="building-listing card-text">
        <h5>Buildings:</h5>
        Gold Production: {{ goldBuilding }}<br>
        Unit Production: {{ unitBuilding }}<br>
        Defense: {{ defenseBuilding }}
      </p>
      <button type="button" class="btn btn-success">Build</button>
    </div>
  </div>
</div>
{% endblock %}