{% extends 'recycler.html.twig' %}
{% block title %}
    Game!
{% endblock %}

{% block recycler_name %}Resources{% endblock %}
{% block recycler_subName %}Inventory of resources{% endblock %}


{% block body %}
    <div class="gold-count">
        Golds: {{ goldAmount }}
    </div>
    <div class="unit-count">
        Units: {{ unitAmount }}
    </div>
    <div class="building-listing">
        <h5>Buildings:</h5>
        Gold Production: {{ goldBuilding }}<br>
        Unit Production: {{ unitBuilding }}<br>
        Defense: {{ defenseBuilding }}
    </div>
    <div>
        <button type="button" class="btn btn-success">Build</button>
    </div>
{% endblock %}