{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="row justify-content-center" style="text-align: center;">
      <h1>Home</h1>
    </div>
    <div>
        <div class="card" style="margin: 0 auto; width: 20rem;">
            <div class="card-header"> Gold </div>
                <div class="card-body">
                    <p class="card-title">{{ user_gold }}</p>
                    <p class="card-text"> {{ gold_income }}/h </p>
                </div>
            </div>
        </div>
        <br />
        <div class="card" style="margin: 0 auto; width: 20rem;">
            <div class="card-header"> Unit </div>
                <div class="card-body">
                    <p class="card-title">{{ nb_unit }}</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div class="card" style="overflow:auto; height: 32.5rem; float: left; padding: 1rem; width: 50%">
          <div class="row justify-content-center" style="text-align: center;">
            <h1>Your Technologies</h1>
          </div>
          <br/>
          <div style="overflow:auto; flex-wrap: wrap; display: flex;">
            {% for elem in technos_owned %}
                <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
                    <div class="card-header"> {{ elem.name }}</div>
                    <div class="card-body">
                        <p class="card-title">{{ elem.description }}</p>
                        <p class="card-text">dmg : {{ elem.damagePerLevel }} | gold : {{ elem.goldBoostPerLevel }} </p>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="card" style="overflow:auto; height: 32.5rem; float: right; padding: 1rem; width: 50%">
          <div class="row justify-content-center" style="text-align: center;">
            <h1>Your Batiments</h1>
          </div>
          <br/>
          <div style="overflow:auto; flex-wrap: wrap; display: flex;">
            {% for elem in batiments_owned %}
                <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
                    <div class="card-header"> {{ elem.name }}</div>
                    <div class="card-body">
                        <p class="card-text">dmg : {{ elem.damagePerLvl }} | gold : {{ elem.goldPerHourPerLvl }} | hp: {{ elem.hpPerLvl }}</p>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
